

/*NAVEGATION*/

header{
    position: fixed;
    padding-top: 2vw;
    padding-bottom: 2vw;
    width: 100vw;
    min-height: px;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    background-color: #222;
    color: white;
    font-size: 15px;
    z-index: 200;
}
.logo{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
#logo-modelo{
    display: flex;
    font-size: 15px;
    margin-left: 10px;
}
header nav ol{
    float: right;
    display: flex;
    align-items: center;
    margin-top: -30px;
}
header nav li{
    margin-right: 20px;
}
header a{
    margin-top: 5px;
}
.acces:active{
    color: white;
}
.acces:visited{
    color: white;
}
.acces:hover{
    color: #FF6900;
}
/*PRESENTATION*/
#prentation_box{
    background-image: url("./images/image_presentation.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 30vw;
}
#images-presentation{
    align-items: center;
    display: flex;
    justify-content: space-between;
    
    
}
#text-in-presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#text-infotmation{
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.information{
    font-weight: bold;
    font-size:x-large;
    color: #373737;

}

.img_xiaomi_30t{
    width: 20vw;
}

.images_in_front_of_presentation_right{
    width: 20vw;
    margin-right: 25vw;
}
.images_in_front_of_presentation_left{
    width: 20vw;
    margin-left: 25vw;
}

/*ESPECIFICATIONS*/
#box-content-media{
    display: grid;
    grid-auto-rows: auto;
}
#specifications-media ul li img{
    grid-row: 1;
}
#specifications-media ul li video{
    grid-row: 2;
}

.image-cinema{
    width: 100vw;
}
#specifications-media-2{
    display: grid;
    align-items: center;
    justify-items: center;
}
.box-content{
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}
.media-content{
    grid-row: 1;
    width: 100vw;
}
.title-information{
    color: white;
    font-stretch:expanded;
    font-weight: bold;
    font-size:x-large;
}
#characteris h2{
margin-left: 5vw;
}
#characteris{
    display: grid;
    grid-template-rows: max-content;
    margin-top: 10vh;
    color: white;
}
.specifications{
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    color: white;
    border-top: 1px solid #FF6900;
}
.elements{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin: 2vw;
    align-items: center;
}
#positions-content{
    display: grid;
}
/*Opinions*/
#opinions{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
    background-color: #222;
    color: white;
}
#opinion-box{
    grid-row: 2;
}
#opinions-section span{
    grid-row: 3;
}
.form-opinions{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr) 1,1fr;
    justify-items: center;
    margin-left: 2vw;
}

input{
    grid-row: 2;
    grid-column: 2;
    width: 50vw;
    font-size:medium;
}
#button-send{
    grid-row: 3;
    grid-column: 2;
    width: 20vw;
    margin-top: 1vw;
}
.view-opinions{
    grid-row: 3;
    font-size: medium;
    margin-left: 8vw;
    justify-items: start;
    display: grid;
    align-content: space-around;
}

/* FOOTER */

footer{
    background-color: black;
    padding-bottom: 6vw;
}
#final-page{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: start;
}
.final-links{
    margin-top: 3vw;
    grid-row: 1;
    color: white;
}
.content-final{
    margin-top: 2vw;
    color: #898989;
    display: grid;
}
footer a:active{
    color: #898989;
}
footer a:visited{
    color: #898989;
}
footer a:hover{
    color: #FF6900;
}
.order-in-footer{
    display: grid;
    margin-left: 3vw;
}

/*GENERAL MODIFICATIONS*/

body{
    background-color: #222;
    z-index: 100;
    overflow-x: hidden;
}
*{
    margin: 0vw;
    padding: 0vw;
    font-family: 'Poppins', sans-serif;
}
ol{
    list-style: none;
}
ul{
    list-style: none;
}
#struct{
    display: grid;
    grid-auto-rows: min-content;
}
#general-section{
    grid-row: 1;
}
#specifications-section{
    grid-row: 2;
}
#specifications-section-caracterist{
    grid-row: 3;
}
#specifications-section-media{
    grid-row: 4;
}
#opinions-section{
    grid-row: 5;
}
button{
    border-radius: 10px;
    cursor: pointer;
}
a{
    text-decoration: none;
}

.button-style{
    background-color:#FF6900 ;
    color:white;
    padding: 5px;
}
.button-style:active{
    background-color: #222;
    color: #FF6900;
}
#view-move-content{    
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 40%;
}
#view-text-animation{
    animation: text-reveal linear both;
    animation-timeline: view();
    animation-range: entry 70% cover 50%;
}
@keyframes reveal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}
@keyframes text-reveal {
    from {
        opacity: 0;
        translate: 0 200px;
    }
    to {
        opacity: 1;
        translate: 0;
    }
}
